<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      margin: 0;
      overflow: hidden;
      background: #001f3f;
    }
    .logo {
      position: absolute;
      width: 60px;
      animation: float 5s ease-in-out infinite;
    }
    @keyframes float {
      0%   { transform: translateY(0px); }
      50%  { transform: translateY(-30px); }
      100% { transform: translateY(0px); }
    }
  </style>
</head>
<body>
  <img class="logo" src="https://logo.clearbit.com/apple.com" style="top: 10%; left: 15%;">
  <img class="logo" src="https://logo.clearbit.com/tesla.com" style="top: 30%; left: 45%;">
  <img class="logo" src="https://logo.clearbit.com/google.com" style="top: 60%; left: 70%;">
  <img class="logo" src="https://logo.clearbit.com/microsoft.com" style="top: 80%; left: 25%;">
  <img class="logo" src="https://logo.clearbit.com/meta.com" style="top: 50%; left: 80%;">
</body>
</html>
